<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        <% for(const item of navItems) { %>
          <li <% if (item.isActive) { %> class="active" <% } %> ><a href="<%= item.href %>"><%= item.name %></a></li>
        <% } %>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
